In [1]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [11]:
for i in range (1, 4) :
    for j in range(5, 10, i): # 5시작, 종료조건 10
        print(j)
    print("\n")

5
6
7
8
9


5
7
9


5
8

In [4]:
for i in range(10, 5, -2): #10시작, 종료조건은 5
    print(i)

10
8
6

In [12]:
a_list = [1,2,3,4,5,"안녕","하세요"]
for i in a_list:
    print(i)

1
2
3
4
5
안녕
하세요

In [15]:
a_str = "hello python"
for i in a_str:
    print(i)

h
e
l
l
o

p
y
t
h
o
n

In [22]:
name_list = ["홍길동","장다인","김철수"]
age_list = [500,5,12]
for i,k in enumerate(name_list):
    print("i=",i,end='   ')
    print("k=",k)

i= 0   k= 홍길동
i= 1   k= 장다인
i= 2   k= 김철수

In [23]:
name_list = ["홍길동","장다인","김철수"]
age_list = [500,5,12]
for i,k in enumerate(name_list):
    print(k, end='  ')
    print(age_list[i])
for i,k in enumerate(name_list):
    print(name_list[i],end='  ')
    print(age_list[i])

홍길동  500
장다인  5
김철수  12
홍길동  500
장다인  5
김철수  12

In [32]:
name_list = ["홍길동","장다인","김철수"]
age_list =[500,5,12]
for i in range(len(name_list)):
    print(name_list[i],end=' ')
    print(age_list[i])
    print(len(name_list))

홍길동 500
3
장다인 5
3
김철수 12
3

In [36]:
test_list=[i for i in range(10)]
print(test_list)

test2_list = []
for i in range(10):
    test2_list.append(i)
print(test2_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
test_list = [i * 5 for i in range(10)]
print(test_list)
test2_list = [0 for i in range(10)]
print(test2_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [39]:
a = 0
while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

In [41]:
a = 0
while True:
    print(a)
    a = a + 1
    if a >= 5:
        break

0
1
2
3
4